/1003_Soma_Simp/nbproject/private/
/1035_Form_Bhas/nbproject/private/
/1010_Calc_Simp/nbproject/private/
/1005_Medi_1/nbproject/private/
/1004_Prod_Simp/nbproject/private/
/1008_Sala/nbproject/private/
/1002_Area_Circ/nbproject/private/
/1012_Area/nbproject/private/
/1020_Idade_Dias/nbproject/private/
/1009_Sala_Bonus/nbproject/private/
/1013_Maior/nbproject/private/
/1011_Esfe/nbproject/private/
/1001_Extr_Basi/nbproject/private/
/1021_Notas_Moeda/nbproject/private/
/1006_Media_2/nbproject/private/
/1035_Teste_Sele_1/nbproject/private/