/1003_Soma_Simp/nbproject/private/
/1035_Form_Bhas/nbproject/private/
/1010_Calc_Simp/nbproject/private/
/1005_Medi_1/nbproject/private/
/1004_Prod_Simp/nbproject/private/
/1008_Sala/nbproject/private/
/1002_Area_Circ/nbproject/private/
/1012_Area/nbproject/private/
/1020_Idade_Dias/nbproject/private/
/1009_Sala_Bonus/nbproject/private/
/1013_Maior/nbproject/private/
/1011_Esfe/nbproject/private/
/1001_Extr_Basi/nbproject/private/
/1021_Notas_Moeda/nbproject/private/
/1006_Media_2/nbproject/private/
/1035_Teste_Sele_1/nbproject/private/
/1047_Tempo_Jogo_Minu/nbproject/private/
/1047_Tempo_Jogo_Minu/build/
/1048_Aume_Sala/nbproject/private/
/1048_Aume_Sala/build/
/1049_Animal/nbproject/private/
/1049_Animal/build/
/1050_DDD/nbproject/private/
/1050_DDD/build/
/1051_Impo_Renda/nbproject/private/
/1051_Impo_Renda/build/
/1052_Mes/nbproject/private/
/1052_Mes/build/
/1059_Num_Pares/nbproject/private/
/1059_Num_Pares/build/
/1060_Num_Posi/nbproject/private/
/1060_Num_Posi/build/
/1061_Tempo_Um_Evento/nbproject/private/
/1061_Tempo_Um_Evento/build/
/1064_Posi_Media/nbproject/private/
/1064_Posi_Media/build/
/1065_Pares_Cinco_Num/nbproject/private/
/1065_Pares_Cinco_Num/build/
/1066_Pares_Impa_Posi_Nega/nbproject/private/
/1066_Pares_Impa_Posi_Nega/build/
/1067_Num_Imp/nbproject/private/
/1067_Num_Imp/build/
/1070_Seis_Num_Imp/nbproject/private/
/1070_Seis_Num_Imp/build/
/1071_Soma_Imp_Cons/nbproject/private/
/1071_Soma_Imp_Cons/build/
/1072_Inter_2/nbproject/private/
/1072_Inter_2/build/
/1073_Quad_Pares/nbproject/private/
/1073_Quad_Pares/build/
/1074_Par_Impar/nbproject/private/
/1074_Par_Impar/build/
/1075_Resto_2/nbproject/private/
/1075_Resto_2/build/
/1078_Tabuada/nbproject/private/
/1078_Tabuada/build/
/1079_Media_Pond/nbproject/private/
/1079_Media_Pond/build/
/1080/nbproject/private/
/1080/build/
/1094_Expe/nbproject/private/
/1094_Expe/build/
/1095_Sequ_IJ_1/nbproject/private/
/1095_Sequ_IJ_1/build/
/1096_Sequ_IJ_2/nbproject/private/
/1096_Sequ_IJ_2/build/
/1097_Sequ_IJ_3/nbproject/private/
/1097_Sequ_IJ_3/build/
/1098_Sequ_IJ_4/nbproject/private/
/1098_Sequ_IJ_4/build/
/1099_Soma_Imp_cons_II/nbproject/private/
/1099_Soma_Imp_cons_II/build/
/Teste/nbproject/private/
/Teste/build/
/1101_Sequ_Num_Soma/nbproject/private/
/1101_Sequ_Num_Soma/build/
/1113_Cresc_Descr/nbproject/private/
/1113_Cresc_Descr/build/
/1114_Senha_Fixa/nbproject/private/
/1080_Maior_Posi/nbproject/private/
/1080_Maior_Posi/build/
/1115_Qdnt/nbproject/private/
/1115_Qdnt/build/
/1116_Divi_X_Y/nbproject/private/
/1116_Divi_X_Y/build/
/1117_Valid_Nota/nbproject/private/
/1117_Valid_Nota/build/
/1118_Varias_Notas_Valid/nbproject/private/
/1118_Varias_Notas_Valid/build/
/1131_Grenais/nbproject/private/
/1131_Grenais/build/
/1132_Mult_13/nbproject/private/
/1132_Mult_13/build/
/1133_Resto_Divi/nbproject/private/
/1133_Resto_Divi/build/
/1134_Tipo_Comb/nbproject/private/
/1134_Tipo_Comb/build/
/1142_Pum/nbproject/private/
/1142_Pum/build/
/1143_Quad_Cubo/nbproject/private/
/1143_Quad_Cubo/build/
/1144_Sequ_Logi/nbproject/private/
/1144_Sequ_Logi/build/
/1145_Sequ_Logi_2/nbproject/private/
/1145_Sequ_Logi_2/build/
/1146_Sequ_Cres/nbproject/private/
/1146_Sequ_Cres/build/
/1149_Soma_Inte_Conse/nbproject/private/
/1149_Soma_Inte_Conse/build/
/1150_Ultr_Z/nbproject/private/
/1150_Ultr_Z/build/
/testeJlist1/nbproject/private/
/1153_Fato_Simp/nbproject/private/
/1153_Fato_Simp/build/
/1154_Idades/nbproject/private/
/1154_Idades/build/